@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

* {
    margin: 0;
}

body {
    color: white;
    background-color: black;
}

/*..................... nav bar...................... */
.nav-b {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0px;
    padding: 4px;

}

.mb {
    display: none;
}

.nav-b a {
    text-decoration: none;
}

.nav-b a li {
    margin-right: 30px;
    list-style: none;
}

.nav-t {
    font-size: 36px;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.nav-i {
    color: white;
}

.nav-h {
    color: white;
    background-color: rgb(230, 83, 60);
    border-radius: 50px;
    width: 70px;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
    margin-top: 20px;
    padding: 10px;
}

/* ...............banner................... */
.bn-t {
    font-size: 78px;
    line-height: 100%;
}

.shape {
    font-family: 'Miama';
    font-weight: normal;
    font-size: 170px;
}

.bn-d {
    margin-top: 40px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
}

.bn-t-btn {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.b-btn-1,
.re-btn {
    color: white;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    width: 224px;
    height: 54px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.b-btn-2 {
    color: white;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    width: 224px;
    height: 54px;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.b-btn-3 {
    color: white;
    text-align: left;
    padding-left: 24px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 193px;
    height: 98px;
    position: absolute;
    left: 1107px;
    top: 260px;
}

.b-btn-4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    color: white;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 207px;
    height: 95px;
    position: absolute;
    left: 764px;
    top: 556px;
}

.f500 {
    font-size: 40px;
    font-weight: 900;
}

.banner-btn {
    height: 100%;
}

.banner {
    background-image: url(../images/Images\ 2.png), linear-gradient(180deg, rgba(119, 119, 119, 0), rgb(41, 41, 41), rgba(119, 119, 119, 0) 100%);
    background-position: right 144px bottom, center;
    height: 600px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 190px;
    margin: 0 auto;
}